// Nova Card CSS
.chart-dashboard.card{
    height: fit-content;
    padding-bottom: 1rem;

    .chart-title{
        width: 100%;
        background: #171a1d;
        color: white;
        padding: .5rem 1rem;
        text-align: center;
        border-radius: 5px 5px 0 0;
    }

    canvas{
        width: calc(100% - 2rem) !important;
        height: 250px !important;
        margin: auto;
    }
}